*{
  margin:0px;
  padding:0px;
}

body{
    background:rgb(255, 249, 234);
}

footer{
    background-color: white;
    height: 132px;
    padding: 0px;
    margin: 0px;
}

.headerGB{
    background:rgb(255, 223, 143);
    height: 132px;
    padding: 0px;
    margin: 0px;
}

.headerTitlePosition{
    padding: 42px 0px 0px 280px;
}

.SearchBox{
    text-align: center;
    padding:60px;
}

.searchBoxTitle{
    text-align: center;
    padding:10px;
}