div.chara{
  max-width: 500px; /* 最大幅 */
  max-height: 600px;
}

img.imger {
  max-width:500px; /* 最大幅 */
  max-height: 450px; /* 最小幅 */
}
img.imgers {
  max-width:300px; /* 最大幅 */
  max-height: 450px; /* 最小幅 */
}
@font-face {
  font-family: 'hm_tb';
  /* フォント名 */
  src: url('font/Nちはやフォント.ttf') format('truetype');
  /* フォントファイル */
}